#songSelection {
  -fx-max-width: 600px;
  -fx-padding: 20 10 20 10;
  -fx-font-family: "Arial";
}

.songCard {
  -fx-border-color: #ddd;
  -fx-border-width: 2;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
  -fx-padding: 15;

  -fx-pref-width: 1800px;
  -fx-max-width: 2000px;
  -fx-min-width: 300px;

  -fx-alignment: CENTER_LEFT;
  -fx-background-color: #fff;
}

.songCard:hover {
  -fx-border-color: #6c63ff;
  -fx-background-color: #f9f8ff;
}

.selected {
  -fx-border-color: #6c63ff;
  -fx-background-color: #eee8ff;
}

.songTitle {
  -fx-font-size: 14px;
  -fx-font-weight: bold;
}

.songArtist {
  -fx-text-fill: #666;
  -fx-font-size: 12px;
}

.header {
  -fx-font-size: 100px;
  -fx-font-weight: bold;
  -fx-padding: 0 0 0 0;
}
.subtitle {
  -fx-font-size: 16px;
  -fx-padding: 0 0 10 0;
}
.search-bar {
  -fx-pref-width:1200px;
  -fx-max-width: 1750px;
  -fx-min-width: 500px;

  -fx-pref-height: 100px;
  -fx-max-height: 400px;
  -fx-min-height: 40px;
  -fx-font-size: 12px;
}
.sing-button {
  -fx-pref-width: 600px;
  -fx-max-width: 1200px;
  -fx-min-width: 300px;

  -fx-pref-height: 50px;
  -fx-max-height: 200px;
  -fx-min-height: 20px;
}
#songSelectionVBox {
  -fx-padding: 20;
}
.scroll-pane {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-padding: 0;

}
.scroll-pane-vbox{
  -fx-alignment: center;
  -fx-spacing: 15;
  -fx-padding: 10 20 10 20;
  -fx-background-color: transparent;
}
.scroll-pane > .viewport {
  -fx-background-color: transparent;
}