# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# IntelliJ
.idea/
*.iml

# Build output
out/
target/

# Firebase
src/main/resources/firebaseAPI.json

/src/main/resources/Video/Queen – Bohemian Rhapsody (Official Video Remastered)_1080p.mp4
/src/main/resources/Video/The Weeknd - Blinding Lights (Official Video)_1080p.mp4
