<!DOCTYPE html>
<html lang="en">
<head>
    <title>KaraBang Login</title>
    <link rel="stylesheet" href="CSS/signup.css">


</head>

<body>

<!-- 🔴 glow -->
<div class="glow glow1"></div>
<div class="glow glow2"></div>

<!-- 🎸 LOTS OF ICONS -->
<div class="icon">🎸</div>
<div class="icon">🎵</div>
<div class="icon">🎤</div>
<div class="icon">🎶</div>
<div class="icon">🎸</div>
<div class="icon">🎵</div>
<div class="icon">🎤</div>
<div class="icon">🎶</div>
<div class="icon">🎸</div>
<div class="icon">🎵</div>
<div class="icon">🎤</div>
<div class="icon">🎶</div>


<div class ="signup-wrapper">

    <!-- LEFT -->
    <div class="left-panel">
        <h1 class="brand">🎤 Kara<span>Bang</span></h1>
        <p class="subtitle">
           Please enter your email and password to sign up.
        </p>

       <form id="signup-form">
            <input id="email" type="email" placeholder="Email" required>
            <input id="password" type="password" placeholder="Password" required>

             <button id="signupBtn">Sign Up</button>

                <a href="login.html">
                     <button id="homeBtn">Home</button>
                </a>

        </form>
 
    </div>

    <!-- RIGHT -->
    <div class="right-panel">
        <div class="album-card">
            <img>
            <div class="song-title"></div>
            <div class="artist"></div>
        </div>
    </div>

</div>


<script type="module" src="/js/signup.js"></script>

</body>
</html>